body {
  overflow-x: hidden;
}

/* 

  Minimum view height styles
  25/50/75
  100% not required due to tailwind

*/

.vh-25 {
  min-height: 25vh;
}
.vh-50 {
  min-height: 50vh;
}
.vh-75 {
  min-height: 75vh;
}
.hero-bg {
  position: relative;
  background-image: linear-gradient(0deg, rgba(2,0,36,.5) 0%, rgba(0,106,166,.5) 35%, rgb(0, 213, 255) 100%), url('../img/components/homesitter-hero.jpg') ;
  background-size: cover;
  
  background-position: center center;
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); */
}
.service-wave {
  position: absolute;
  width: 100%;
  height: 150px;
  content: '';
  top: -1px;
  left: 0;
  background-image: url(../img/components/wave2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

/* Custom heading colours */
.service-green {
  color: #499455;
}
.shadow {
  box-shadow: rgba(0, 0, 0, .3) 0px 4px 10px;
}
.shadow-md {
  box-shadow: rgba(0, 0, 0, .3) 5px 4px 5px;
}

/* Navigation Highlighting */
nav a.current-page {
  color: #F97316;
  transition: all 300ms ease;
  border-bottom:#F97316 solid 1px;
  margin-top: 2px;
  padding-bottom: 2px;
}


/* Services */





/* Inspections styles */
#inspections {
  /* background:  rgba(73,148,85, .42); */
  background-image: url(../img/components/stacked-waves.svg) ;
  background-size: cover;
  background-attachment: fixed;
  /* clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%); */
  min-height: 100vh;
  display: block;

}
@media only screen and (max-width: 400px) {
  #inspections {
    /* background:  rgba(73,148,85, .42); */
  background-image: url(../img/components/stacked-waves.svg) ;
    background-size: cover;
    background-attachment: fixed;
    /* clip-path: polygon(0 1%, 100% 0, 100% 99%, 0% 100%); */
    min-height: 55vh;
    display: block;
  }
}

.inspect-frame {
  background: linear-gradient(180deg, rgba(172, 252, 205, 0.5) 0%, rgba(255, 255, 255, 0) 100%) rgba(248, 248, 248, 0.8);
  mix-blend-mode: normal;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inspect-frame img {
  border-radius: 15%;
}
.triangle-gradient {
  background-image: linear-gradient(to bottom right, rgba(255,255,255,.2) 0%, rgba(255,255,255,.2) 50%, transparent 50%);
}

/* faq */

.accordian {
  transition: all 1s ease;
  transition-delay: 150ms;
  height: 100%;
  overflow-y: hidden;
}
.accordian-collapse {
  height: 0px;
  visibility: hidden;
  transition: all 1s ease;
  transition-delay: 150ms;
  opacity: 0;

}
.accordian-expand {
  height: 7.5em;
  display: block;
  visibility: visible;
  transition: all 1s ease;
  /* transition-delay: 150ms; */
  height: calc(100% + 20px);

}
@media only screen and (max-width: 535px){
  .accordian-expand {
    height: 100%;
    display: block;
    visibility: visible;
    transition: all 1s ease-in-out;
    transition-delay: 150ms;
  
  }
}

#tip {
  transition: all .7s ease;
  opacity: 1;

}



/*  Animations & Transforms */

.slide-x {
  transition: all 800ms ease;
  /* transition-delay: 200ms; */
  transform: translateX(-400%);
  
}
.slide-x:nth-of-type(even) {
  transition: all 800ms ease;
  /* transition-delay: 200ms; */
  transform: translateX(400%);
}
.slide-x.show{
  opacity: 1;
  transform: translateX(0);
  height: 100%;
}

.mobile-nav {
  transform: translateX(-200%);
}

.invalid-input {
  border: solid 2px rgb(204, 23, 23);
  border-style: inset;
}

/* testimonials */

#testimonials {
  background: #075985;
}
#testimonials::before {
  position: absolute;
  width: 100%;
  height: 250px;
  content: '';
  top: -14em;
  background-image: url(../img/components/wave.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.testimonials {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 450px;
  overflow: hidden;
  position: relative;
}

.testimonial {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: minmax(100%, 800px);

  transform: translate(-550%, -50%);
  opacity: 0;
  transition: all 0.9s ease;
}

@media (max-width: 1004px){
  .testimonials {
    height: 100%;
  }
  .testimonial {
    width: 90%;
  }

}
@media (max-width: 630px){
  .testimonials {
    height: 100%;
    /* min-height: 300px; */
  }
  .testimonial {
    display: block;
    width: 90%;
  }

}
.testimonial.current {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
#prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
#next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

}